import /init.recovery.qcom_decrypt.rc

on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on init
    chown system system /proc/gauge_authenticate
    chmod 0666 /proc/gauge_authenticate
    exec -- /vendor/bin/gauge_authenticate

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    start boot-hal-1-1

on boot

on firmware_mounts_complete
   rm /dev/.booting


on late-init
    # Remove a file to wake up anything waiting for firmware
    trigger firmware_mounts_complete

on property:modem.partition.mounted=1
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/apr_dlkm.ko
    insmod /vendor/lib/modules/gpr_dlkm.ko
    insmod /vendor/lib/modules/spf_core_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

